{% extends "base_generic.html" %}

{% block sidebar %}
<ul class="sidebar-nav">
    <li><a href="{% url 'index' %}">Главная страница</a></li>
    <li><a href="{% url 'books' %}">Все книги</a></li>
    <li><a href="{% url 'authors' %}">Все авторы</a></li>
    <li>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" value="Выход" />
        </form>
    </li>
</ul>
{% endblock sidebar %}

{% block content %}
    <h1>Главная страница</h1>
    <p>Добро пожаловать в <em>Мир книг</em>, Это очень простой
    веб-сайт, написанный на Django. Разработан на Python
    в качестве учебного примера с использованием PyCharm.</p>
    <h2>Динамический контент</h2>
    <p>База данных сайта Мир книг содержит следующее
    количество записей:</p>
    <ul>
        <li><strong>Количество книг:</strong> {{num_books}}</li>
        <li><strong>Количество экземпляров книг:</strong> {{num_instances}}</li>
        <li><strong>Количество экземпляров книг в заказе:</strong> {{num_instances_available}}</li>
        <li><strong>Количество авторов книг:</strong> {{num_authors}}</li>
    </ul>
<p>Количество визитов пользователя: {{num_visits}}</p>
{% endblock content %}